## Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a open-source NO-SQL database management system. It is used to organize , store and retrive data using the schema-less database and tables with efficient retrival.This uses a Document oriented Database Model.
It is non-relational database model.Non-relational Database are the unstructured database which can be handled without the schema and more flexiable in nature. 
MongoDB is more preferable when the data is unorganized and unstructured.So, using this we can handle any data like structured,unstructured,semi-structured with various range of data-types.

## Q2. State and Explain the features of MongoDB.

Document oriented datatype : It will store the data in database in the form of dictionary in python also more flexible and handle complex relations.
Dynamic Schema : As it can handle both the structured and unstructured data and can make dynamic changes in the schema it is known as Dynamic schema
Scalability : It is used to share the data in the horizontally.This allows the data distribution and allowing the efficient storing and retrival of data.

## Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [15]:
import pymongo
client=pymongo.MongoClient("mongodb+srv://potnurupavan21:pavan@cluster0.ay9cj4t.mongodb.net/?retryWrites=true&w=majority")
db=client["database"]
coll_data=db["my_records"]
data={"name":"pavan","cell":"9705969741"}
coll_data.insert_one(data)

InsertOneResult(ObjectId('65af6fc3d919e642475590b8'), acknowledged=True)

## Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [16]:
data2=[{"1":"pavan","2":"tiru","3":"karthik","4":"avinash"},
        {"11":"ram","22":"shyam","44":"guru"}
        ]
coll_data.insert_many(data2)

data={"name":"pavan","cell":"9705969741"}
coll_data.insert_one(data)

list_of_records=[
    {"1":"suzuki","2":"maruti"},
    {"3":"mahindra","4":"tech"}
]
coll_data.insert_many(list_of_records)

coll_data.find_one()

for i in coll_data.find():
    print(i)

{'_id': ObjectId('65abc8862d2fc72b3aca7e67'), '1': 'suzuki', '2': 'maruti'}
{'_id': ObjectId('65abc8862d2fc72b3aca7e68'), '3': 'mahindra', '4': 'tech'}
{'_id': ObjectId('65abcc382d2fc72b3aca7e69'), 'id': '99', 'name': 'pavan'}
{'_id': ObjectId('65abcc382d2fc72b3aca7e6a'), 'id': '5', 'name': 'kumar'}
{'_id': ObjectId('65abcc382d2fc72b3aca7e6b'), 'id': '1', 'name': 'ram'}
{'_id': ObjectId('65abcc382d2fc72b3aca7e6c'), 'id': '2', 'name': 'laxman'}
{'_id': ObjectId('65ae62a4fd7deebccfde8b3a'), 'name': 'pavan', 'cell': '9705969741'}
{'_id': ObjectId('65ae634ffd7deebccfde8b3b'), '1': 'pavan', '2': 'tiru', '3': 'karthik', '4': 'avinash'}
{'_id': ObjectId('65ae634ffd7deebccfde8b3c'), '11': 'ram', '22': 'shyam', '44': 'guru'}
{'_id': ObjectId('65ae634ffd7deebccfde8b3d'), 'name': 'pavan', 'cell': '9705969741'}
{'_id': ObjectId('65ae634ffd7deebccfde8b3e'), '1': 'suzuki', '2': 'maruti'}
{'_id': ObjectId('65ae634ffd7deebccfde8b3f'), '3': 'mahindra', '4': 'tech'}
{'_id': ObjectId('65ae6422fd7deebccfde8b40'), 'id': '4', 'name': 'pavan '}
{'_id': ObjectId('65ae6422fd7deebccfde8b41'), 'id': '5', 'name': 'kumar'}
{'_id': ObjectId('65ae6422fd7deebccfde8b42'), 'id': '1', 'name': 'ram'}
{'_id': ObjectId('65ae6422fd7deebccfde8b43'), 'id': '2', 'name': 'laxman'}
{'_id': ObjectId('65ae6599fd7deebccfde8b44'), 'name': 'Alice', 'salary': '50000'}
{'_id': ObjectId('65ae6599fd7deebccfde8b45'), 'name': 'Bob', 'salary': '60000'}
{'_id': ObjectId('65ae6599fd7deebccfde8b46'), 'name': 'Charlie', 'salary': '45000'}
{'_id': ObjectId('65ae6599fd7deebccfde8b47'), 'name': 'David', 'salary': '70000'}
{'_id': ObjectId('65ae65aafd7deebccfde8b48'), 'name': 'Alice', 'salary': '50000'}
{'_id': ObjectId('65ae65aafd7deebccfde8b49'), 'name': 'Bob', 'salary': '60000'}
{'_id': ObjectId('65ae65aafd7deebccfde8b4a'), 'name': 'Charlie', 'salary': '45000'}
{'_id': ObjectId('65ae65aafd7deebccfde8b4b'), 'name': 'David', 'salary': '70000'}
{'_id': ObjectId('65ae65c2fd7deebccfde8b4c'), 'name': 'Alice', 'salary': '50000'}
{'_id': ObjectId('65ae65c2fd7deebccfde8b4d'), 'name': 'Bob', 'salary': '60000'}
{'_id': ObjectId('65ae65c2fd7deebccfde8b4e'), 'name': 'Charlie', 'salary': '45000'}
{'_id': ObjectId('65ae65c2fd7deebccfde8b4f'), 'name': 'David', 'salary': '70000'}
{'_id': ObjectId('65ae65dafd7deebccfde8b50'), 'name': 'Alice', 'salary': '50000'}
{'_id': ObjectId('65ae65dafd7deebccfde8b51'), 'name': 'Bob', 'salary': '60000'}
{'_id': ObjectId('65ae65dafd7deebccfde8b52'), 'name': 'Charlie', 'salary': '45000'}
{'_id': ObjectId('65ae65dafd7deebccfde8b53'), 'name': 'David', 'salary': '70000'}
{'_id': ObjectId('65ae65e2fd7deebccfde8b54'), 'name': 'Alice', 'salary': '50000'}
{'_id': ObjectId('65ae65e2fd7deebccfde8b55'), 'name': 'Bob', 'salary': '60000'}
{'_id': ObjectId('65ae65e2fd7deebccfde8b56'), 'name': 'Charlie', 'salary': '45000'}
{'_id': ObjectId('65ae65e2fd7deebccfde8b57'), 'name': 'David', 'salary': '70000'}
{'_id': ObjectId('65ae65f3fd7deebccfde8b58'), 'name': 'Alice', 'salary': '50000'}
{'_id': ObjectId('65ae65f3fd7deebccfde8b59'), 'name': 'Bob', 'salary': '60000'}
{'_id': ObjectId('65ae65f3fd7deebccfde8b5a'), 'name': 'Charlie', 'salary': '45000'}
{'_id': ObjectId('65ae65f3fd7deebccfde8b5b'), 'name': 'David', 'salary': '70000'}
{'_id': ObjectId('65ae661cfd7deebccfde8b5c'), 'name': 'Alice', 'salary': '50000'}
{'_id': ObjectId('65ae661cfd7deebccfde8b5d'), 'name': 'Bob', 'salary': '60000'}
{'_id': ObjectId('65ae661cfd7deebccfde8b5e'), 'name': 'Charlie', 'salary': '45000'}
{'_id': ObjectId('65ae661cfd7deebccfde8b5f'), 'name': 'David', 'salary': '70000'}
{'_id': ObjectId('65ae6634fd7deebccfde8b60'), 'name': 'Alice', 'salary': '50000'}
{'_id': ObjectId('65ae6634fd7deebccfde8b61'), 'name': 'Bob', 'salary': '60000'}
{'_id': ObjectId('65ae6634fd7deebccfde8b62'), 'name': 'Charlie', 'salary': '45000'}
{'_id': ObjectId('65ae6634fd7deebccfde8b63'), 'name': 'David', 'salary': '70000'}
{'_id': ObjectId('65af6fc3d919e642475590b8'), 'name': 'pavan', 'cell': '9705969741'}
{'_id': ObjectId('65af6fc6d919e642475590b9'), '1': 'pavan', '2': 'tiru', '3': 'karthik', '4': 'avinash'}
{'_id': ObjectId('65af6fc6d919e642475590ba'), '11': 'ram', '22': 'shyam', '44': 'guru'}
{'_id': ObjectId('65af6fc6d919e642475590bb'), 'name': 'pavan', 'cell': '9705969741'}
{'_id': ObjectId('65af6fc6d919e642475590bc'), '1': 'suzuki', '2': 'maruti'}
{'_id': ObjectId('65af6fc6d919e642475590bd'), '3': 'mahindra', '4': 'tech'}

## Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

We use find method to retrive the data using our required conditions but allowing the condition into the find method braces(). According to that all the statified data will be retrived and displayed.

In [17]:
gat=[
    {"id":"4","name":"pavan "},
    {"id":"5","name":"kumar"},
    {"id":"1","name":"ram"},
    {"id":"2","name":"laxman"}
]
coll_data.insert_many(gat)
for i in coll_data.find({"id":{"$gte":"4"}}):
    print(i)

{'_id': ObjectId('65abcc382d2fc72b3aca7e69'), 'id': '99', 'name': 'pavan'}
{'_id': ObjectId('65abcc382d2fc72b3aca7e6a'), 'id': '5', 'name': 'kumar'}
{'_id': ObjectId('65ae6422fd7deebccfde8b40'), 'id': '4', 'name': 'pavan '}
{'_id': ObjectId('65ae6422fd7deebccfde8b41'), 'id': '5', 'name': 'kumar'}
{'_id': ObjectId('65af6fc8d919e642475590be'), 'id': '4', 'name': 'pavan '}
{'_id': ObjectId('65af6fc8d919e642475590bf'), 'id': '5', 'name': 'kumar'}

## Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In MongoDB, the sort() method is used to sort the documents in a collection based on one or more fields. The sort() method takes one parameter, which is an object specifying the fields to sort on and the sorting order (ascending or descending).


coll_data.insert_many(
  { "name": "Alice", "salary": "50000" },
  { "name": "Bob", "salary": "60000" },
  { "name": "Charlie", "salary": "45000" },
  { "name": "David", "salary": "70000" }
);
for i in coll_data.find().sort({"salary":"1"}):
    print(i)

## Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one is used to delete only one record from the database or table.
delete_many is used to delelte multiple or many records from the database or table.
Whereas the drop() method is used to delete the entire table or database including its schema.