## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A Database is a process of organizing and storing of data which we can retrive it further for our use using query is called database. 
SQL database is a structured data where NOSQL is the unstructured data.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL is a Data Definition Language. It is used in database to create , delete , edit the tables in the database , these can be achieved by using the keywords like CREATE,ALTER,DROP and TRUNCATE.

CREATE : It is used to create new table in the database.
ex: CREATE TABLE table_name;

DROP : It is used in database to delete the tables.
ex: table_name.drop()

ALTER : It is used in database to modity the tables schema.
ex: ALTER TABLE table_name
    ADD COLUMN new_column_name data_type;
    
TRUNCATE : The TRUNCATE statement is used in SQL to quickly and efficiently remove all rows from a table, but it retains the structure of the table for future use.
ex:TRUNCATE TABLE table_name;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is a Data Manipulation Language. It is used to modify the data containing in the database's tables.

INSERT : it is keyword used to insert the data into the table.
ex: INSERT INTO table_name values(column_name datatype,....);

UPDATE : It is a keyword used in DML of table to modity content present in the table.
ex :
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

DELETE : It is keyword used in DML to delete data in table.
ex: DELETE FROM table_name
WHERE condition;

## What is DQL? Explain SELECT with an example.

DQL is the Data query Language .
DQL is often used to refer to the subset of SQL (Structured Query Language) that specifically deals with querying and retrieving data from a database.
ex :SELECT * FROM table_name;

## Explain Primary Key and Foreign Key.

Primary key is the key that used to uniquely identify the record in the table. It is assigned with the uniquely defineable characters.These are assigned or searched column wise.

Foreign key is the key that is used to uniquely identify the record in the table as well as establish a relation among the tables in the database.

## Write a python code to connect MySQL to python. Explain the cursor() and execute() method.


import mysql.connector
mydb=mqsql.connector.connect(
    host="localhost",
    user="user-id",
    password="password"
)

cursor in Database management used for traversal and manipulation of the records in the set of rows.These are certainly used for handling the queries.

execute(): In the context of databases, the term "execute method" is often associated with executing SQL statements or queries. The exact syntax and usage can vary depending on the database management system (DBMS) and the programming language or environment you are working with

## Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in a SQL query generally follows a logical sequence, though it's important to note that the actual execution may be optimized by the database engine. Here is a general order of execution for the main clauses in a SELECT statement:

FROM Clause:

The FROM clause specifies the table or tables from which the data is retrieved.
JOIN Clause:

If there are any JOIN operations specified in the query, they are performed to combine rows from different tables based on the specified conditions.
WHERE Clause:

The WHERE clause filters the rows based on a specified condition or set of conditions.
GROUP BY Clause:

If there is a GROUP BY clause, the rows are grouped based on the specified columns.
HAVING Clause:

The HAVING clause filters the grouped rows based on a specified condition or set of conditions.
SELECT Clause:

The SELECT clause specifies the columns to be included in the result set and may include expressions or functions.
DISTINCT Clause: